# --- Markdown Desteği ---
markdown==3.7
django-markdown-helper==0.3.1

# --- Diğer Kritikler ---
Django==5.1.4
dj-database-url==3.1.0
gunicorn==23.0.0
whitenoise==6.11.0
openai==2.15.0
python-dotenv==1.2.1
django-jazzmin==3.0.1
django-crispy-forms==2.3
crispy-bootstrap5==2024.10
Pillow==11.0.0